@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bitter:wght@400;600;700&family=Oxygen+Mono&display=swap');

html {
  --col-back-blue-1: rgb(0, 73, 80);
  --col-back-blue-2: rgb(0, 47, 51);
  --col-back-orange-1: rgb(80, 35, 0);
  --col-back-orange-2: rgb(55, 24, 0);
  --col-back-green-1: rgb(46, 75, 0);
  --col-back-green-2: rgb(32, 52, 0);
  --col-back-purple-1: rgb(115, 0, 81);
  --col-back-purple-2: rgb(70, 0, 49);
  --col-back-1: var(--col-back-blue-1);
  --col-back-2: var(--col-back-blue-2);

  --color-primary: var(--col-back-1);
  --color-secondary: rgb(156, 151, 121);
  --color-text-primary: white;
  --color-text-secondary: var(--color-dark-grey);
  --color-dark-grey: rgb(25, 25, 25);

  width: 100%;
  height: 100%;
}

a {
  color: var(--color-secondary);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-dark-grey);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--col-back-2);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--col-back-1);
}

body {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2vw;
  width: 100%;
  min-height: 100%;
  min-width: 320px;
  overflow: none;
  margin: auto;
  padding: 0;
  font-family: 'Bitter', "Lucida Grande", Helvetica, Arial, serif;
  font-size: 1em;
}

#main-background {
  z-index: -1;
  position: absolute;
  width: 100%;
  min-height: calc(100% - 132px);
  left: 0;
  top: 70px;
  background-color: black;
}

@media only screen and (min-width: 600px) {
  #main-background { height: calc(100% - 105px); }
}

.main-container {
  z-index: 1;
  flex: 1;
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  font-family: 'Aldrich', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-dark-grey);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 0.3em 0.4em rgba(0, 0, 0, 0.3);
}

.main-header-text {
  margin: 0;
  padding-left: 10px;
  flex:1;
  font-size: 1.5em;
  text-align: center;
  color: var(--color-secondary);
}

@media only screen and (min-width: 600px) {
  .main-header-text {
    font-size: 2.5em;
    padding-left: 48px;
  }
}

.main-header-text-2 {
  margin: 0;
  color: var(--color-primary);
}

.theme-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 3px;
}

.theme-btn {
  flex: none;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 1px;
  border: none;
}

.theme-btn:hover {
  border: none;
}

.theme-btn.blue {
  background-color: var(--col-back-blue-2);
}
.theme-btn.blue:hover {
  background-color: var(--col-back-blue-1);
}
.theme-btn.orange {
  background-color: var(--col-back-orange-2);
}
.theme-btn.orange:hover {
  background-color: var(--col-back-orange-1);
}
.theme-btn.green {
  background-color: var(--col-back-green-2);
}
.theme-btn.green:hover {
  background-color: var(--col-back-green-1);
}
.theme-btn.purple {
  background-color: var(--col-back-purple-2);
}
.theme-btn.purple:hover {
  background-color: var(--col-back-purple-1);
}

.header-info-btn {
  margin-right: 1em;
  padding:0.8em;
  font-size: 1em;
  font-weight: 400;
  background-color: var(--color-secondary);
  color: var(--color-text-secondary);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow:
    inset 0 0 1em rgba(0, 0, 0, 1.0),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  text-align: center;
  text-decoration: none;
}

.header-info-btn:hover {
  cursor: pointer;
  border: 2px solid white;
  box-shadow:
    inset 0 0 1em rgba(255, 255, 255, 0.5),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.main-footer {
  font-family: 'Oxygen Mono', 'Courier New', Courier, monospace;
  background-color: var(--color-dark-grey);
  width: 100%;
  height: 62px;
  box-shadow: 0 -0.3em 0.4em rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.main-footer-text {
  color: var(--color-secondary);
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0;
}

.repo-link {
  color: var(--color-secondary);
  font-size: 0.8em;
  text-align: center;
  margin-top: 0;
}

@media only screen and (min-width: 600px) {
  .main-footer {
    height: 35px;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }

  .main-footer-text { margin: 0; margin-top: 0.5em; }
  .repo-link { margin: 0; margin-left: 1em; }
}

button, .return-button {
  flex: 1;
  padding: 0.5rem 2em;
  font-size: 1em;
  font-weight: 400;
  background-color: var(--color-secondary);
  color: var(--color-text-secondary);
  border-radius: 5px;
  border: 2px solid black;
  box-shadow:
    inset 0 0 1em rgba(0, 0, 0, 1.0),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.return-button {
  text-align: center;
  text-decoration: none;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  width: 100%;
}

button:hover, .return-button:hover {
  cursor: pointer;
  border: 2px solid white;
  box-shadow:
    inset 0 0 1em rgba(255, 255, 255, 0.5),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.message-list {
  overflow-y: auto;
  width: 75vw;
  max-height: calc(100vh - 172px);
  padding: 0;
}

.message-container {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  color: var(--color-text-secondary);
  border: 1px solid var(--color-text-secondary);
  backdrop-filter:   brightness(2.5) grayscale(20%) sepia(100%) blur(10px);
  border-radius: 5px;
  margin: 0;
  margin-bottom: 2vh;
}

.user-heading-text {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-flow: row nowrap;
  gap: 0.4em;
  margin-top: 0.7em;
}

.user-heading-text p {
  margin: 0;
}

.message-user, .message-text {
  padding-left: 1em;
  word-wrap: break-word;
}

.message-text {
  margin: 0.7em 0;
  padding-right: 1em;
  white-space: pre-wrap;
}

.message-timestamp {
  padding-right: 1em;
  font-size: 0.7em;
}

.message-empty {
  color: var(--color-secondary);
  font-size: large;
  text-align: center;
}

#new-message-btn {
  margin: 1em;
}

.send-message-header {
  color: var(--color-secondary);
  margin-top: 2em;
  font-size: 1.5em;
}

.send-message-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  height: auto;
  gap: 1vh;
  color: var(--color-secondary)
}

label {
  font-size: 1em;
  font-weight: 600;
  width: 100%;
}

input {
  color: var(--color-secondary);
  background-color: var(--color-dark-grey);
  min-height: 3vh;
  font-size: 0.8em;
  padding: 0.5em 1em;
  width: 100%;
}

#user-message {
  color: var(--color-secondary);
  background-color: var(--color-dark-grey);
  min-height: 20em;
  padding: 1em;
  width: 100%;
  resize: none;
}

.validation-error-msg {
  color: rgb(226, 0, 0);
}

#about-header,
.about-content,
.about-list,
.about-more {
  color: var(--color-secondary);
  text-align: start;
  width: 75%;
}

.error-content {
  display: flex wrap;
  flex-direction: column;
  width: 75vw;
  place-items: center;
  text-align: center;
  color: var(--color-secondary);
}

.error-stack {
  text-align: start;
  white-space:pre-wrap;
}

.error-return-button, .about-return-button {
  padding: 0.5rem 2em;
  font-size: 1em;
  font-weight: 400;
  background-color: var(--color-secondary);
  color: var(--color-text-secondary);
  border-radius: 5px;
  border: 2px solid black;
  box-shadow:
    inset 0 0 1em rgba(0, 0, 0, 1.0),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  text-align: center;
  text-decoration: none;
  margin-bottom: 1em;
}

.error-return-button:hover, .about-return-button:hover {
  cursor: pointer;
  border: 2px solid white;
  box-shadow:
    inset 0 0 1em rgba(255, 255, 255, 0.5),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}