header.main-header
  h1(class="main-header-text") Rooster#[span.main-header-text-2 Board]
  div.theme-grid
    button.theme-btn.blue
    button.theme-btn.orange
    button.theme-btn.green
    button.theme-btn.purple
  a.header-info-btn(href="/about") ?