extends layout

block content
  -var hasMessages= true;
  ul(class="message-list")
    each message in messages
      li(class="message-container")
        div(class="user-heading-text")
          p(class="message-user") #[strong !{message.user}]
          -
          p(class="message-timestamp") #[em !{message.added_formatted}]
        p(class="message-text") !{message.text}
    else
      p.message-empty There are no messages here, be the first to write one! 

  a#new-message-btn(href="/new"): button(class="add-message-button") + New Message