doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='icon', href="favicon.ico")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='./css/style.css')
    script(src='./js/render_theme.js' defer)
    title= title
  body
    include header.pug
    canvas#main-background Your browser does not support the canvas element.
    div.main-container
      block content
    include footer.pug